@font-face {
    font-family: "HK Thin";
    src: url(./fonts/static/HankenGrotesk-Thin.ttf);
}

@font-face {
    font-family: "HK Light";
    src: url(./fonts/static/HankenGrotesk-Light.ttf);
 }

 @font-face {
    font-family: "HK Regular";
    src: url(./fonts/static/HankenGrotesk-Regular.ttf);
 }

 @font-face {
    font-family: "HK Bold";
    src: url(./fonts/static/HankenGrotesk-Bold.ttf);
 }

 

 @media screen and (max-width: 500px){
    .menu{
        display: none;
    }

    .nome{
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 20px;
    }

    .estudante p{
        font-size: 25px;
    }
    
    #cv{
        top: 120px;
    }
    
    #trajetoria{
        top: 500px;
    }

    .box {
        width: 100%; 
        margin: 10px 0;
    }
    
    #projetos{
        top: 1000px;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        flex-direction: column;
    }

    .top{
        align-items: center;
        flex-direction: column;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .top, .bottom {
        flex-direction: column;
        visibility: visible;
        align-items: center;
    }

    .box3, .box4{
        visibility: hidden;
    }

    #contato{
        top: 600px;
    }

    .competencias {
        padding: 5px 10px;
        margin-right: 100px;
       
    }

    #competencias{
        height: 60px;
    }
    
    .competencias img {
        height: 41px; 
    }
    
    .competencias h2 {
        font-size: 10px;
    }


    #contato{
       top: 700px;
    }

    #carouselExampleFade{
        width: 300px;
        height: 100%;
    }

    .carousel-item.active{
        top: 20px;
        height: 100px;
        width: 100px;
    }

    .carousel-item.active p{
        width: 210px;
        font-size: 12px;
        transform: translate(-15%);
    }

    .carousel-item, .carousel-caption {
        font-size: 12px;
        display: none;
    }

    #carouselm{
        width: 300px;
        height: 281px;

   }

   #estrela img{
    height: 40px;
    width: 40px;
    }

    .whatsapp img, .gmail img {
        height: 40px;
        width: 40px;
    }

 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu {
    height: 50px;
}


body{
    height: 100vh;
    background-color: #171419;
    overflow-x: hidden;
    background-color: #171419;
  
}
.fundo{
    height: 100vh;
    width: 100vw;
    position: relative;
    opacity: 10%;
}

/*HEADER*/

.menu {
    position: absolute;
    right: 0;
    margin-top: 40px;
    top: 0;
    z-index: 1000; 
    font-family: "HK Light";
    text-align: right; 
    right: 50px;
    visibility: hidden;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    position: relative;
    padding: 20px;
    transition: all 200ms ease-in;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: #8C52FF;
}
.nome{
    padding: 20px;
    line-height: 50px;
    position: absolute;
    display: flex;
    margin: 5px;
    margin-top: 25px;
    margin-left: 80px;
    font-size: 20px;
    color: white;
    font-family: "HK Bold";
    visibility: hidden;
}

#dutra{
    background-image: linear-gradient(90deg, #8C52FF, #E8A61E);
    background-clip: text; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
}

/*FIRST SECTION*/


#imagem{
    width: 500px;
}


.saudacao{
    padding: 15px;
    top: 19vh;
    color: white;
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
    visibility: hidden;
}


#ola{
    font-size: 70px;
    font-family: "HK Bold";
 
}

#bemvindo{
    font-family: "HK Thin";
    font-size: 60px;
}

#portfolio{
    background-image: linear-gradient(90deg, #8C52FF, #E8A61E);
    background-clip: text; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "HK Bold";
    font-size: 65px;

}

.estudante{
    border-radius: 5px;
    opacity: 70%;
    font-family: "HK Bold";
    font-size: 30px;
    color: white;
    align-items: center;
    text-align: center;
    top: 19vh;
    position: relative;
    visibility: hidden;
}

.redes{
    margin-top: 26vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    align-items: center;
    cursor: pointer; 
    display: flex;
}

.redes img{
    height: 60px;
    width: 60px;
    margin: 5px;
    transition: 0.5s;
}

.redes img:hover{
    height: 70px;
    width: 70px;
}

#cv{
    visibility: hidden;
}

.curriculo{
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
    top: 80px;
}

.curriculo img{
    background-color: #22192e;
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    transition: 0.7s;
}

.curriculo img:hover{
    box-shadow: #6039af 0px 0px 20px ;
}

/*Second Section*/

#trajetoria{
    background-color: #171419;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin-top: 25%;
}

.titulo{
    font-size: 23px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 7vh;
    font-family: "HK Regular";
    visibility: hidden;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-bottom: 80px;
    visibility: hidden;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 270px;
    border-radius: 25px;
    background-color: #22192e;
    overflow: hidden;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: 0.7s;
}

.box:hover {
    height: 380px;
    box-shadow: #6039af 0px 0px 20px ;
}

.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    height: 80px;
    width: 80px;
}

.box:hover img {
    top: 0px;
    transform: translate(-50%, 0) scale(0.7);
    margin-top: 10px;
}

.box h2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 21px;
    font-family: "HK Bold";
    letter-spacing: 1px;
    white-space: nowrap;

}

.box:hover h2 {
    opacity: 0;
}

.box:hover p {
    opacity: 1;
}

.box p{
    position: absolute;
    gap: 18px;
    margin-top: 80px;
    text-align: center;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.7s; 
}

.box:hover p{
    position: absolute;
    gap: 18px;
    margin-top: 100px;
    text-align: center;
    padding: 0 30px;
}

.graduacao img, .design img, .codigo img {
    height: 80px;
    width: 80px;
}


.competencias{
    display: flex;
    justify-content: center;
    background-color: #22192e;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    visibility: hidden;
    transition: 0.7s;
}

.competencias:hover{
    box-shadow: #6039af 0px 0px 20px;
}

.competencias img{
    margin-top: 5px;
    transition: 0.5s;
    border-radius: 50%;
    padding: 5px;
}


.competencias h2{
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    font-family: 'HK Bold';
    font-size: 15px;
    letter-spacing: 1px;
    background-image: linear-gradient(90deg, #8C52FF, #E8A61E);
    background-clip: text; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*Terceira Section*/

#projetos{
    background-color: #171419;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin-top: 10%;
}

.sobreprojetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2{
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    display: flex;
    visibility: hidden;
}

.box1{
    display: flex;
}

.box1 img{
    height: 200px;
    border-radius: 20px;
    opacity: 50%;
    transition: 0.5s;
}

.box1 img:hover{
    opacity: 100%;
    box-shadow: #6039af 0px 0px 20px;
}

.box2 h1, .box3 h1, .box4 h1{
    font-family: "HK Bold";
    letter-spacing: 3px;
    font-size: 25px;
    transform: rotate(20deg);
    border: 2px solid white;
    padding: 8px;
    cursor: pointer;
    transition: transform .5s ease;
}

.box2 h1:hover, .box3 h1:hover, .box4 h1:hover{
    font-family: "HK Bold";
    letter-spacing: 3px;
    font-size: 17px;
    transform: rotate(20deg);
    border: 0;
    padding: 8px;
    background-image: linear-gradient(90deg, #8C52FF, #E8A61E);
    color: #22192e;
    transform: scale(1.5);
    box-shadow: #6039af 0px 0px 20px;
}

.box1, .box3 {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    background-color: #22192e;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}

.box2, .box4 {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    background-color: #22192e;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


/*Four Section*/

#contato{
    background-color: #171419;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin-top: 10%;
}

#contato .titulo {
    position: relative;
    top: 20px;  
    
}

.estrela img{
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 110px;
    transform: rotate(10deg);
    visibility: hidden;
}


.carousel-inner {
    background-color: #22192e;
    width: 450px;
    height: 300px;
    border-radius: 30px;
    bottom: 20px;
}


.carousel-item {
    text-align: center; 
    align-items: center;
    justify-content: center;
    padding: 25px;
    left: 50px;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
  }


.carousel-item p {
    font-family: "HK Regular";
    letter-spacing: 1px;
    width: 300px;
}

.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.whatsapp, .gmail {
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.5s;
}

.whatsapp img, .gmail img {
    height: 55px;
    width: 55px;
    transition: 0.5s;
}

.whatsapp:hover, .gmail:hover {
    transition: 0.5s;
    transform: scale(1.13);
}

.whatsapp img:hover, .gmail img:hover {
    transition: 0.5s;
    transform: scale(1.10);
}

.hidden{
    visibility: hidden;
}

.enviaremail{
    background-color: #22192e;
    padding: 5px;
    padding-top: 30px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 100%;
}
#email{
    width: 40%;
    border-radius: 10px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#message{
    margin-bottom: -70px;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}


#button2{
    background-color: white;
    border: none;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
    font-family: 'HK Regular';
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#button2:hover{
    background-color: #8C52FF;
    color: white;
}
